@{
    ViewData["Title"] = "Authentication";
}

<div class="row d-flex justify-content-center align-items-center mt-4">
    <div class="col-6">
        @await Html.PartialAsync("_Registration")
    </div>

    <div class="col-6">
        @await Html.PartialAsync("_Login")
    </div>
</div>