html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.plr-10 {
  padding: 0 10px;
}

.fs-22 {
  font-size: 22px;
}